@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Press+Start+2P|Share+Tech+Mono|Lobster+Two|Amatic+SC|Loved+by+the+King|Patrick+Hand+SC')

body
  margin: 0
  padding: 0

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  appearance: none
  margin: 0

*
  box-sizing: border-box
  list-style-type: none
  text-decoration: none
